body{
  font: 15px/1.0 Arial, Helvetica,sans-serif;
  background-color:#ffffff;
  padding:0;
  margin:0;
  overflow-x:hidden;
  min-width: 450px;


}

/* Global */
*{
    margin-bottom: 0px;
    margin-top: 0px;
}
button{
    background-color: rgba(39, 60, 86, 0.7);
    border: none;
    color: white;
    border-radius: 5px;
}
input, select{
    border: 1px solid gray;
    border-radius: 5px;
    padding-left: 5px;

}
.container{
  width:25%;
  margin: auto;
  overflow:hidden;
  background-color: #c0cfe0;
  padding: 40px;
  border-radius: 15px;
}
div.container input{
    margin-top: 20px;
    margin-bottom: 40px;
}
section#login{
    background-color: #f4f4f4;
    padding-top: 130px;
    min-height: calc(100vh - 210px);
}
section form#login{
    width: 100%;
    margin:auto;
    overflow: hidden;
    color: #000000;

}
form label{
    margin-left: 20px;
    margin-top: 40px;
}
form#search{
    margin: 40px 0px 20px 10px;
}
form#search input[type="search"], select, button{
    height: 30px;
    line-height: 25px;
    margin: 0;
}
form#search input[type="search"], select{
    width: 185px;
}
section input.i-login{
    width: 90%;
    display: block;
    margin: 10px auto;
    padding:4px;
    height:30px;
}
section button.btn-g{
    display: block;
    margin: 0px auto;
    padding: 8px 40px 8px 40px;
    height: 50px;

}
.banner{
  width:100%;
  margin: auto;
  overflow:hidden;
  background-color: rgb(150,3, 2);
  padding: 0px 40px 10px 10px;
  border-bottom: 1px solid black;
}
div#site-id{
    float: left;
    padding-top: 10px;
    color: #ccc;
    font-style: Velvetica;
    margin: 20px 0px 0px 100px;
}
div#session{
    float: right;
    margin: 35px 100px 0px 0px;
}
span#date{
    color: red;
}
aside.main-links{
    clear: both;
    margin: 0px;
    background-color: #000;
    width:100%;
    height: 40px;
    padding-left: 0px;
    color: black;

    
}
aside.main-links nav{
    float: left;
    padding-top: 5px;
    padding-left: 200px;
}
 aside.main-links ul li{
        display: inline-block;
        margin-right: 1px;
        margin-left: 1px;
        
    }
ul{
    list-style: none;
    color: black;
}
aside a{
    text-decoration: none;
    text-transform: uppercase;
    font-size: 12px;
    border-radius: 0%;
    background-color: rgb(150,3, 2);
    color: #fcfcfc;
    outline-width: 60px;
    padding: 3px 8px 3px 8px;
}
aside li{
    margin: 10px 0px 10px 0px;


}
button#user{
    float: right;
    width: 80px;
    margin: 0px 40px 0px 0px;
    height: 30px;
}
div#prod-search{
    padding: 0px 8px 0px 10px;
    margin: auto;
}
div#prod-search input[type="search"], select, button{
    height: 30px;
    line-height: 25px;
    margin: 0;
}
div#prod-search input[type="search"], select{
    width: 185px;
}
div#action-btns{
    
    margin: 20px 40px 10px 20px;
}
div#action-btns button{
    height: 30px;
    width: 80px;
}

.flex-container{

}
 div#main{
    display: flex;
    float: left;
    background-color: #f4f4f4;
    width: 60%;
    height: 76%;

    
    
}
/*Modal box*/
/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    border-radius: 5px;
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    border-radius: 5px;
    width: 30%; /* Could be more or less, depending on screen size */
}
.modal-content input.pr, button.pr {
    clear: both;
    display: block;
    width: 60%;
    height: 30px;
    margin: 10px auto;
    border-radius: 5px;
}

/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}
/*End Modal box style*/
div#test{
    float: left;
    background-color: #ffffff;
    width: 60%;
    height: 50px;
}
div#main h3{
    margin:40px 0px 20px 20px;
}
section#side-pane{

    padding-top: 5px;
    padding-left: 60px;
    padding-right: 60px;
}
section#inv{
    padding-left: 20px;
    padding-right: 20px;

}
section#prod-data{
    padding-left: 20px;
}
div#result{
    width:100%;
    height: 60%;
    border-radius: 8px;
    background-color: white;
}
form#search input[type='search']{
    width: 300px;
}
form#search select{
    width: 200px;
}
form#search button{
    width: 100px;
}
div.side-bar{
    display: flex;
    float: right;
    background-color: #cccccc;
    border-left: 1px solid #ccc;
    width: 40%;
    height: 70%;
    border-left: 0px solid black;
}
div.side-bar h3, h5{
    margin: 5px 0px 20px 20px;
}
div.side-bar{
    padding-top:40px;
}
section#rec-data{
    padding-right: 20px;
    padding-left: 20px;
}
section.fill{
    width: 100%;
}
section#us{
    padding-right:20px; 
    padding-left: 20px;
}
div#us-tab{
    padding-top: 40px;
}
div.side-header h3{
    display: block;
    margin:auto;
    text-align: center;
    padding-bottom: 20px;
}
div.side-bar button{
    margin: 0px 0px 20px 20px;
}
div.side-bar ul li{
    font-size: 14px;
    padding-top: 10px;
    padding-bottom: 10px;
}
table#cart-tab{
    background-color: white;
}
table#inv-table{
    width:90%;
    border-collapse: collapse;
    border: none;
}
/*table#inv-table tr th:nth-child(6),table#inv-table tr th:nth-child(7){
    border-collapse: collapse;
}
table#inv-table tbody{
    border-style: hidden!important;
}*/
button.edit, button.delete{
    height: 10px;
    width:20px;
    display: inline;
}
table#record-data tr th:nth-child(1), table#cart-tab tr th:nth-child(1){
       width: 60%;
}
table#inv-table tr th:nth-child(3), table#inv-table tr th:nth-child(2){
    width:30%;
}
table#record-data{
    background-color: white;
}
div.pt table {
    width: 100%;
    font: 17px Calibri;

}
div.pt table, th, td {
    border: solid 1px #DDD;
    border-collapse: collapse;
    padding: 2px 3px;
    text-align: center;
}
      
div.pt input[type='button'] {
    font: 15px Calibri;
    cursor: pointer;
    border: none;
    color: #FFF;
}
        
div.pt input[type='text'], select {
    font: 17px Calibri;
    text-align: center;
    border: solid 1px #CCC;
    width: auto;
    padding: 2px 3px;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 95%;
    border: 1px solid #ddd;
    margin-left:10px;
}

th, td {
    text-align: left;
    padding: 4px;
    font-size: 12px;
}

tr:nth-child(even) {
    background-color: #f2f2f2
}
.my-footer, footer#my-footer{
    margin: auto;
    background-color: rgb(150, 3, 3);
    height: 50px;
    color: #fcfcfc;
    text-align: center;
    padding-top: 10px;
    clear: both;
}

@media(max-width: 768px) {
    body{
        font: 12px/1.0 Arial, Helvetica,sans-serif;
    }
    button.btn-g{
        width:110px;
    }
    .container{
        width:50%;
    }
    .banner{
        padding: 0;
        border-bottom: none;
    }
    div#site-id, div#session{
        float: none;
        text-align: center;
        margin: 0;
        padding: 0; 
    }
    div#session button{
        width: 15%;
    }
    div#session form{
        display: inline-block;
    }

    aside.main-links{
        float: none;
        width:100%;
        margin: auto;
        height: 30px;
        border-right: 0px;
        border-bottom: 1px solid black;
    }
    aside.main-links nav{
        width: 600px;
        margin: auto;
    }
    aside.main-links ul{
        width: 500px;
        margin: auto;
        padding-left: 120px;
    }
    aside.main-links ul li{
        display: inline-block;
        margin:5px;
    }
    div#main{
        padding:5px;
    }
    form#search{
        
        margin:0;
    }
    form#search h3{
        text-align: center;
    }
    form#search input[type="search"], h3, select, button{
        display:block;
        margin:8px auto;
        width: 98%;
        height: 30px;
        line-height: 25px;

    }
    div#prod-search{
        display: block;
        width: 99%;
       padding: 0;
        
    }
    form#prod input[type="search"], h3, select, button{
        display:block;
        margin:8px auto;
        width: 98%;
        height: 30px;
        line-height: 25px;

    }
    div#action-btns{
        
        width: 100%;
        margin: 0;
        padding: 0;
        
    }
    div#action-btns button{
        float: right;
        display: inline;
        margin: 20px 10px 10px 0px;
        width: 60px;

    }
    div#main{
        width: 60%;
    }
    div.side-bar{
        width: 35%;
    }
    div.side-bar button{
        width:30%;
        margin: auto;
    }
}