body{
  font: 15px/1.5 Arial, Helvetica,sans-serif;
  background-color:#f4f4f4;
  padding:0;
  margin:0;
}

/* Global */
.container{
  width:40%;
  margin: auto;
  overflow:hidden;
  background-color: #c0cfe0;
  padding: 40px;
}
section{
    background-color: #f4f4f4;
    padding-top: 130px;
    min-height: calc(100vh - 210px);
}
section form{
    width: 80%;
    margin:auto;
    overflow: hidden;
    color: #fe3d24;

}
form label{
    margin-left: 20px;
}
section input{
    width: 90%;
    display: block;
    margin: auto;
    padding:4px;
    height:30px;
}
section button{
    display: block;
    margin: 15px auto;
    padding: 8px 40px 8px 40px;

}
footer{
    margin: auto;
    background-color: #273c56;
    height: 70px;
    text-align: center;
    padding-top: 10px;
}